<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd
          http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!--需要过滤不被拦截的请求-->
    <security:http pattern="/user/register" security="none" />
    <security:http pattern="/user/loginPage" security="none" />

    <security:http auto-config="true" use-expressions="true">
	    <security:headers>
		   <security:frame-options policy="SAMEORIGIN"/>
		</security:headers>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <security:form-login  login-page="/user/loginPage" authentication-failure-url="/user/loginPage?error=error" default-target-url="/user/index" login-processing-url="/login"/>
        <security:logout invalidate-session="true" logout-success-url="/user/loginPage" logout-url="/logout"/>
        <security:csrf disabled="true"/>
    </security:http>

    <bean id="loginUserDetailService" class="com.jtd.security.LoginUserDetailsServiceImpl"></bean>
    <bean id="loginAuthenticationProvider" class="com.jtd.security.LoginAuthenticationProvider">
        <property name="userDetailsService" ref="loginUserDetailService"></property>
    </bean>

    <security:authentication-manager alias="myAuthenticationManager">
        <security:authentication-provider ref="loginAuthenticationProvider">
        </security:authentication-provider>
    </security:authentication-manager>
    
	<context:component-scan base-package="com.jtd.security"></context:component-scan>
</beans>