<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtd.dao.FjbfMapper" >
	<cache eviction="LRU" type="com.jtd.cache.RedisCache" />
  <resultMap id="BaseResultMap" type="com.jtd.entity.Fjbf" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="POSITIVE_WORDS" property="positiveWords" jdbcType="VARCHAR" />
    <result column="NOTHING_THE_MATTER" property="nothingTheMatter" jdbcType="VARCHAR" />
    <result column="ABOUT_FUTURE" property="aboutFuture" jdbcType="VARCHAR" />
    <result column="IMPORTANT_THINGS" property="importantThings" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, POSITIVE_WORDS, NOTHING_THE_MATTER, ABOUT_FUTURE, IMPORTANT_THINGS, 
    CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_fjbf
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_fjbf
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jtd.entity.Fjbf" >
    insert into tb_fjbf (ID, USER_ID, POSITIVE_WORDS, 
      NOTHING_THE_MATTER, ABOUT_FUTURE, IMPORTANT_THINGS, 
      CREATE_BY, CREATE_DATE, UPDATE_BY, 
      UPDATE_DATE)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{positiveWords,jdbcType=VARCHAR}, 
      #{nothingTheMatter,jdbcType=VARCHAR}, #{aboutFuture,jdbcType=VARCHAR}, #{importantThings,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.jtd.entity.Fjbf" >
    insert into tb_fjbf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="positiveWords != null" >
        POSITIVE_WORDS,
      </if>
      <if test="nothingTheMatter != null" >
        NOTHING_THE_MATTER,
      </if>
      <if test="aboutFuture != null" >
        ABOUT_FUTURE,
      </if>
      <if test="importantThings != null" >
        IMPORTANT_THINGS,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="positiveWords != null" >
        #{positiveWords,jdbcType=VARCHAR},
      </if>
      <if test="nothingTheMatter != null" >
        #{nothingTheMatter,jdbcType=VARCHAR},
      </if>
      <if test="aboutFuture != null" >
        #{aboutFuture,jdbcType=VARCHAR},
      </if>
      <if test="importantThings != null" >
        #{importantThings,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jtd.entity.Fjbf" >
    update tb_fjbf
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="positiveWords != null" >
        POSITIVE_WORDS = #{positiveWords,jdbcType=VARCHAR},
      </if>
      <if test="nothingTheMatter != null" >
        NOTHING_THE_MATTER = #{nothingTheMatter,jdbcType=VARCHAR},
      </if>
      <if test="aboutFuture != null" >
        ABOUT_FUTURE = #{aboutFuture,jdbcType=VARCHAR},
      </if>
      <if test="importantThings != null" >
        IMPORTANT_THINGS = #{importantThings,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jtd.entity.Fjbf" >
    update tb_fjbf
    set USER_ID = #{userId,jdbcType=BIGINT},
      POSITIVE_WORDS = #{positiveWords,jdbcType=VARCHAR},
      NOTHING_THE_MATTER = #{nothingTheMatter,jdbcType=VARCHAR},
      ABOUT_FUTURE = #{aboutFuture,jdbcType=VARCHAR},
      IMPORTANT_THINGS = #{importantThings,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectTodayPlan" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_fjbf tf
    where 1=1
		AND to_days(tf.create_date) = to_days(now())
    <if test="userId != null" >
        AND tf.USER_ID = #{userId,jdbcType=BIGINT}
    </if>
	
  </select>
</mapper>